<div>
  <img src="/assets/animated_me.png" alt="Headshot of Jacob LeCoq">
  <p>
    Hi, I'm <strong>Jacob LeCoq</strong>. I'm a software engineer based in Louisiana with a love for building, solving, and exploring new tech.
    You can follow me on <a href="https://x.com/jacob_lecoq" target="_blank">Twitter</a>,
    see some of my work on <a href="https://github.com/HexSleeves" target="_blank">GitHub</a>,
    or connect with me on <a href="https://www.linkedin.com/in/jacob-lecoq/" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
