<style>
  img {
    display: block;
    width: 75px;
  }

  .logo-dark {
    display: block;
  }

  .logo-light {
    display: none;
  }

  [data-theme="light"] .logo-dark {
    display: none;
  }

  [data-theme="light"] .logo-light {
    display: block;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img
    class="logo-dark"
    alt="Blog Logo"
    src="/assets/hexsleeves_glow_cyan_512.webp"
    width="75"
    height="50"
  />
  <img
    class="logo-light"
    alt="Blog Logo"
    src="/assets/hexsleeves_base_512.webp"
    width="75"
    height="50"
  />
</a>
